@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply shadow-customShadow rounded-sm border border-solid border-gray-200;
}
.xsContainer {
  @apply xs:flex xs:flex-col xs:justify-center xs:items-center xs:mt-MbSm;
}
.smContainer {
  @apply sm:flex sm:flex-row sm:gap-MbMedium;
}

.dropDown:hover .dropDownMenu {
  display: block;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Anton-Regular';
  src: url('./asset/font/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('./asset/font/Cafe24Ssurround.ttf');
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('./asset/font/Cafe24SsurroundAir.ttf');
}
