@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply w-full shadow-customShadow rounded-sm border border-solid border-gray-200;
}

.mdContainer {
  @apply md:flex md:flex-col md:justify-center md:items-center;
}
.mbContainer {
  @apply flex flex-col justify-center items-center gap-MbMedium mt-MbMedium;
}
.joinInput {
  @apply w-full h-11 flex items-center mt-PcSm border-solid border-2  rounded-sm  border-gray-300 focus-within:ring-black focus-within:border-black  focus-within:outline-none pl-2;
}
.joinInputFail {
  @apply w-full h-11 flex items-center mt-PcSm border-solid border-2  rounded-sm  border-red-500  focus-within:outline-none pl-2;
}
.joinListCommon {
  @apply mt-PcMd;
}
.addressInput {
  @apply w-3/4 mt-PcSm text-sm border-2 p-2.5 rounded-sm border-gray-300  focus:outline-none;
}

.dropDown:hover .dropDownMenu {
  display: block;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Anton-Regular';
  src: url('./asset/font/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('./asset/font/Cafe24Ssurround.ttf');
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('./asset/font/Cafe24SsurroundAir.ttf');
}
