span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;

  opacity: 1;
}

.swiper-pagination-bullet {
  background-color: white;
  width: 2vh;
  height: 2vh;
  opacity: 0.6;
}
.swiper-button-prev {
  color: #000;
}

.swiper-button-next {
  color: #000;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 7vh;
}
